* {text-decoration: none; line-height: 1.3em}

h1 {font-size: 150%; color: #62b09a; text-transform: uppercase;}
h2 {font-size: 140%; color: #83b09a;}
h3 {font-size: 130%; color: #62839a;}
h4 {text-align: justify; font-size: 120%; color: #83839a;}
h5 {font-size: 110%; color: #62839a;}

.back {font-size: 80%; color: #62839a;}

p {text-align: justify; margin-left: 1.0em; margin-right: 1.0em; margin-bottom: 0.5em; margin-top: 0.5em;}

li{margin-top: 0.5em; margin-right: 0.5em;}

.menu {font-weight: bold; color: #83839a; padding-left: 0.2em; line-height: 1em}

A {font-weight: bold; text-decoration: none;}
A:link {color: #00728a; text-decoration: underline}
A:visited {color: #88aacc; text-decoration: underline}
A:hover {color: #d4d12e;text-decoration: underline}

.toptit {font-family: Verdana; font-weight: bold; font-size: 12px; color: #62b09a;}
A.toptit {color: #62b09a;}
A.toptit:link  {color: #62b09a;}
A.toptit:visited  {color: #62b09a;}
A.toptit:hover {color: #83839a;}

.lineL {text-align: justify; border-left: solid 1px #62b09a; margin-left: 3em; padding-left: 0em; border-right: solid 1px #ffffff; margin-right: 0em; padding-right: 4em;}
.lineR {border-right: solid 1px #62b09a; margin-right: 0em; padding-right: 0em;}
.lineM {border-left: solid 1px #62b09a; margin-left: 0em; padding-left: 0em;}
.lineH {font-size: 1px; border-bottom: solid 1px #62b09a; margin-top: 0em; padding-top: 0em;}